**Ordinal data, Nominal Data**

*/nominal data not in sequence,,ordinal data is in sequencenominal=labelencoding/*


  **Label encoding is typically used for nominal data, where the categories do not have any inherent order or ranking.**

**Label Encoding: Imagine you have different types of fruits like apples, bananas, and oranges. With label encoding, you'd assign each fruit a number. So, apples might be 1, bananas 2, and oranges 3. It's like giving each fruit an ID number.**

***/Fit is use to train model and transform is used to convert the model,,we can use it either seperately or together,,weuse it seperately when we do deployement of model/***

In [80]:
import pandas as pd

**To Make Columns**

In [81]:
df_name=pd.DataFrame({"name":["Tanvi","Cow","Crow","Dog","Rajput"]})

In [82]:
df_name

     name
0   Tanvi
1     Cow
2    Crow
3     Dog
4  Rajput

**To Make Columns**

In [83]:
df_city=pd.DataFrame({"city":["Jalandhar","Chandigarh","Delhi","Rajasthan","Haryana"]})

In [84]:
df_city

         city
0   Jalandhar
1  Chandigarh
2       Delhi
3   Rajasthan
4     Haryana

**To combine Columns to make one table**

In [85]:

df_combined = pd.concat([df_name, df_city], axis=1)
df_combined

     name        city
0   Tanvi   Jalandhar
1     Cow  Chandigarh
2    Crow       Delhi
3     Dog   Rajasthan
4  Rajput     Haryana

**import LabelEncoder**

In [86]:
from sklearn.preprocessing import LabelEncoder

In [87]:
le=LabelEncoder()

**Fit is use to train model and transform is used to convert the model,,we can use it either seperately or together,,weuse it seperately when we do deployement of model**

In [88]:
le.fit_transform(df_name["name"])

array([4, 0, 1, 2, 3])

In [89]:
le.fit_transform(df_city["city"])

array([3, 0, 1, 4, 2])

**Give name to encoded column,,its individual**

In [90]:
df_name["labelname_encoding"]=le.fit_transform(df_name["name"])

In [91]:
df_name

     name  labelname_encoding
0   Tanvi                   4
1     Cow                   0
2    Crow                   1
3     Dog                   2
4  Rajput                   3

In [92]:
df_city["labelcity_encoding"]=le.fit_transform(df_city["city"])

In [93]:
df_city

         city  labelcity_encoding
0   Jalandhar                   3
1  Chandigarh                   0
2       Delhi                   1
3   Rajasthan                   4
4     Haryana                   2

**Give name to 1 encoded column,,in table**

In [94]:
df_combined["labelname_encoding"]=le.fit_transform(df_name["name"])
df_combined

     name        city  labelname_encoding
0   Tanvi   Jalandhar                   4
1     Cow  Chandigarh                   0
2    Crow       Delhi                   1
3     Dog   Rajasthan                   2
4  Rajput     Haryana                   3

**Give name to 2 encoded column,,in table**

In [95]:
df_combined["labelcity_encoding"]=le.fit_transform(df_city["city"])

In [96]:
df_combined

     name        city  labelname_encoding  labelcity_encoding
0   Tanvi   Jalandhar                   4                   3
1     Cow  Chandigarh                   0                   0
2    Crow       Delhi                   1                   1
3     Dog   Rajasthan                   2                   4
4  Rajput     Haryana                   3                   2

**Wok on real data**

In [97]:
dataset=pd.read_csv(r"fake_news_dataset.csv")
dataset

,id,title,author,text,label
0,0,House Dem Aide: We Didn’t Even See Comey’s Let...,Darrell Lucus,House Dem Aide: We Didn’t Even See Comey’s Let...,1
1,1,"FLYNN: Hillary Clinton, Big Woman on Campus - ...",Daniel J. Flynn,Ever get the feeling your life circles the rou...,0
2,2,Why the Truth Might Get You Fired,Consortiumnews.com,"Why the Truth Might Get You Fired October 29, ...",1
3,3,15 Civilians Killed In Single US Airstrike Hav...,Jessica Purkiss,Videos 15 Civilians Killed In Single US Airstr...,1
4,4,Iranian woman jailed for fictional unpublished...,Howard Portnoy,Print \nAn Iranian woman has been sentenced to...,1
...,...,...,...,...,...
20795,20795,Rapper T.I.: Trump a ’Poster Child For White S...,Jerome Hudson,Rapper T. I. unloaded on black celebrities who...,0
20796,20796,"N.F.L. Playoffs: Schedule, Matchups and Odds -...",Benjamin Hoffman,When the Green Bay Packers lost to the Washing...,0
20797,20797,Macy’s Is Said to Receive Takeover Approach by...,Michael J. de la Merced and Rachel Abrams,The Macy’s of today grew from the union of sev...,0
20798,20798,"NATO, Russia To Hold Parallel Exercises In Bal...",Alex Ansary,"NATO, Russia To Hold Parallel Exercises In Bal...",1
20799,20799,What Keeps the F-35 Alive,David Swanson,"David Swanson is an author, activist, journa...",1

**separately performed fit and transform here**

**Fit is use to train model and transform is used to convert the model**

In [98]:
le.fit(dataset["author"])

LabelEncoder()

In [99]:
le.transform(dataset["author"])

array([ 940,  908,  826, ..., 2617,  140,  994])

In [100]:
dataset["author_encoded"]=le.transform(dataset["author"])
dataset

,id,title,author,text,label,author_encoded
0,0,House Dem Aide: We Didn’t Even See Comey’s Let...,Darrell Lucus,House Dem Aide: We Didn’t Even See Comey’s Let...,1,940
1,1,"FLYNN: Hillary Clinton, Big Woman on Campus - ...",Daniel J. Flynn,Ever get the feeling your life circles the rou...,0,908
2,2,Why the Truth Might Get You Fired,Consortiumnews.com,"Why the Truth Might Get You Fired October 29, ...",1,826
3,3,15 Civilians Killed In Single US Airstrike Hav...,Jessica Purkiss,Videos 15 Civilians Killed In Single US Airstr...,1,1776
4,4,Iranian woman jailed for fictional unpublished...,Howard Portnoy,Print \nAn Iranian woman has been sentenced to...,1,1498
...,...,...,...,...,...,...
20795,20795,Rapper T.I.: Trump a ’Poster Child For White S...,Jerome Hudson,Rapper T. I. unloaded on black celebrities who...,0,1762
20796,20796,"N.F.L. Playoffs: Schedule, Matchups and Odds -...",Benjamin Hoffman,When the Green Bay Packers lost to the Washing...,0,498
20797,20797,Macy’s Is Said to Receive Takeover Approach by...,Michael J. de la Merced and Rachel Abrams,The Macy’s of today grew from the union of sev...,0,2617
20798,20798,"NATO, Russia To Hold Parallel Exercises In Bal...",Alex Ansary,"NATO, Russia To Hold Parallel Exercises In Bal...",1,140
20799,20799,What Keeps the F-35 Alive,David Swanson,"David Swanson is an author, activist, journa...",1,994

In [101]:
le.fit_transform(dataset["author"])

array([ 940,  908,  826, ..., 2617,  140,  994])

In [102]:
dataset["author_encoded"]=le.fit_transform(dataset["author"])
dataset

,id,title,author,text,label,author_encoded
0,0,House Dem Aide: We Didn’t Even See Comey’s Let...,Darrell Lucus,House Dem Aide: We Didn’t Even See Comey’s Let...,1,940
1,1,"FLYNN: Hillary Clinton, Big Woman on Campus - ...",Daniel J. Flynn,Ever get the feeling your life circles the rou...,0,908
2,2,Why the Truth Might Get You Fired,Consortiumnews.com,"Why the Truth Might Get You Fired October 29, ...",1,826
3,3,15 Civilians Killed In Single US Airstrike Hav...,Jessica Purkiss,Videos 15 Civilians Killed In Single US Airstr...,1,1776
4,4,Iranian woman jailed for fictional unpublished...,Howard Portnoy,Print \nAn Iranian woman has been sentenced to...,1,1498
...,...,...,...,...,...,...
20795,20795,Rapper T.I.: Trump a ’Poster Child For White S...,Jerome Hudson,Rapper T. I. unloaded on black celebrities who...,0,1762
20796,20796,"N.F.L. Playoffs: Schedule, Matchups and Odds -...",Benjamin Hoffman,When the Green Bay Packers lost to the Washing...,0,498
20797,20797,Macy’s Is Said to Receive Takeover Approach by...,Michael J. de la Merced and Rachel Abrams,The Macy’s of today grew from the union of sev...,0,2617
20798,20798,"NATO, Russia To Hold Parallel Exercises In Bal...",Alex Ansary,"NATO, Russia To Hold Parallel Exercises In Bal...",1,140
20799,20799,What Keeps the F-35 Alive,David Swanson,"David Swanson is an author, activist, journa...",1,994

In [103]:
dataset["title_encoded"]=le.fit_transform(dataset["title"])
dataset

,id,title,author,text,label,author_encoded,title_encoded
0,0,House Dem Aide: We Didn’t Even See Comey’s Let...,Darrell Lucus,House Dem Aide: We Didn’t Even See Comey’s Let...,1,940,7609
1,1,"FLYNN: Hillary Clinton, Big Woman on Campus - ...",Daniel J. Flynn,Ever get the feeling your life circles the rou...,0,908,5854
2,2,Why the Truth Might Get You Fired,Consortiumnews.com,"Why the Truth Might Get You Fired October 29, ...",1,826,18702
3,3,15 Civilians Killed In Single US Airstrike Hav...,Jessica Purkiss,Videos 15 Civilians Killed In Single US Airstr...,1,1776,145
4,4,Iranian woman jailed for fictional unpublished...,Howard Portnoy,Print \nAn Iranian woman has been sentenced to...,1,1498,8529
...,...,...,...,...,...,...,...
20795,20795,Rapper T.I.: Trump a ’Poster Child For White S...,Jerome Hudson,Rapper T. I. unloaded on black celebrities who...,0,1762,12919
20796,20796,"N.F.L. Playoffs: Schedule, Matchups and Odds -...",Benjamin Hoffman,When the Green Bay Packers lost to the Washing...,0,498,10800
20797,20797,Macy’s Is Said to Receive Takeover Approach by...,Michael J. de la Merced and Rachel Abrams,The Macy’s of today grew from the union of sev...,0,2617,9965
20798,20798,"NATO, Russia To Hold Parallel Exercises In Bal...",Alex Ansary,"NATO, Russia To Hold Parallel Exercises In Bal...",1,140,10851
20799,20799,What Keeps the F-35 Alive,David Swanson,"David Swanson is an author, activist, journa...",1,994,18320